body {
  margin: 0;
  padding: 0;
    background-color: ghostwhite;
}

   .top-container, .cards, .bottom-container
{
    
  width: 100%;
  height: 100%;  
  background-color: ghostwhite;
    text-align: center;
    
   }


.middle-container
{
  text-align: center;
font-family: cursive;
font-size: 2.6rem;
color: rgb(24, 25, 136);
margin-top: 20px;
padding-bottom: 0px;
}


.L {
  background-image: url("images/lion_picture.jpg");
}



.cards
{
color: ghostwhite;
margin: auto;
}



.animal {
  outline: none;
  border: 7px solid #2a8a12;
  font-size: 2rem;
  font-family: 'Zilla Slab', cursive;
  line-height: 10;
  font-weight: 200;
  color: rgb(253, 4, 4);
  text-shadow: 2px 0 #DBEDF3;
  border-radius: 8px;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin: 10px;
  background-color: ghostwhite;
}


.bottom-container,.h2{

  font-size: 1.1em;
  color: rgb(131, 74, 36);
text-align: center;

}

