html, body, h1 {
  background-color: ghostwhite; 
}

.header-img {
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: contain;
}

.NavTitle {
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 2em;
}

.middle-container
{
text-align: center;
font-family: cursive;
font-size: 2.6rem;
color: rgb(24, 25, 136);
padding-bottom: 0px;
background-color: ghostwhite;
}

.L {
  background-image: url("images/lion_picture.jpg");
}

.E {
  background-image: url("images/elephant.jpg");
}

.F {
  background-image: url("images/frog.jpg");
}

.B {
  background-image: url("images/bear.jpg");
}

.M {
  background-image: url("images//monkey.jpg");
} 

.H {
  background-image: url("images/hippo.jpg");
}

.cards
{
color: ghostwhite;
margin: auto;
}


.animal {
  outline: none;
  border: 7px solid #2a8a12;
  font-size: 2rem;
  font-family: 'Zilla Slab', cursive;
  line-height: 10;
  font-weight: 200;
  color: rgb(253, 4, 4);
  text-shadow: 2px 0 #DBEDF3;
  border-radius: 8px;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin: 10px;
  background-color: ghostwhite;
}

.bottom-container,.h2 {
  padding-top: 2.5rem;
  font-size: 1.1em;
  color: rgb(131, 74, 36);
text-align: center;
margin-bottom: 0px;
}

.videoframe
{
  align-items: center;
}

.footer-img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  }


.copyright
{
  text-align: center;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: pink;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #e61a1a;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}